## Loading Lib

In [1]:
import pandas as pd

## Loading Data

In [6]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

## Exploring

In [7]:
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

# Checking for Duplicates

In [8]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

duplicated() function check if there is an entire row which are exactly the same
False:- There is no duplicate row present above or before the variable 
True:- There is duplicate row present above or before the variable
Return Boolean values i.e we can sum that

In [9]:
#Total no. of duplicates
df.duplicated().sum()

1

## Identifying duplicates row

In [12]:
#passing a series of boolean, it will show row in which True is present
df.loc[df.duplicated(), :]

     brand style  rating
1  Yum Yum   cup     4.0

### Using Keep parameter

keep values
1.last
2.first
3.false'

keep:-By using ‘last’, the last occurrence of each set of duplicated values is set on False and all others on True. 
Basically we are keeping the last duplicate values and setting all other as True(duplicates)
Vice versa for first

In [18]:
df.duplicated(keep='last')

0     True
1    False
2    False
3    False
4    False
dtype: bool

Visual:-

In [17]:
df.loc[df.duplicated(keep='last'), :]

     brand style  rating
0  Yum Yum   cup     4.0

By setting keep on False, all duplicates are True.
Which will give the all the duplicates in the dataframe

In [21]:
df.duplicated(keep=False)

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [22]:
df.loc[df.duplicated(keep=False), :]

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0

### Using subset parameter

To find duplicates on specific column(s), use subset.
Its result show duplicates in a perticular columns as mention in subset.
We can use this method when we are considering certain columns for duplicates

In [23]:
df.duplicated(subset=['brand'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [24]:
df.loc[df.duplicated(subset=['brand']), :]

     brand style  rating
1  Yum Yum   cup     4.0
3  Indomie  pack    15.0
4  Indomie  pack     5.0

# Removing the duplicates

In [31]:
df.drop_duplicates(keep='last') #Keep the last duplicates and drop all others

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [30]:
df.drop_duplicates(keep=False) #Remove all duplicates

     brand style  rating
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0